@import "tailwindcss";

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

a:hover {
  opacity: 0.8;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none;
}
